<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{book.title}}">
  <ion-content>
    <div class="content" ng-if='book!=""'>
        <img id="photo" ng-src="{{book.img}}">
        <ion-list>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.libraries.length'>
            <h2>請求記号 : {{book.place}}</h2>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.libraries.length'>
            <h2>配架場所</h2>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.libraries.length==null' ng-click="link_to_request(isbn)">
            <h2>大学へリクエストする</h2>
          </ion-item>
          <ion-item ng-if="book.libraries">
            <table>
              <tr class="item-remove-animate" type="item-text-wrap" ng-repeat="library in book.libraries">
                  <td class="location">{{library["location"]}}</td>
                  <td class="status" ng-if='library["status"]!=""'> : {{library["status"]}}</td>
                  <td class="status" ng-if='library["status"]==""'> : 蔵書</td>
                
              </tr>
            </table>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap">
            <h2>詳細</h2>
          </ion-item>
        </ion-list>
        <p ng-if="book.detail[0].length == 1">{{book.detail}}</p>
        <p ng-if="book.detail[0].length != 1">{{book.detail[0]}}</p>
    </div>
    <div class="content" ng-if='book==""'>
    <div id="loader"></div>
    </div>
  </ion-content>
</ion-view>

<link href="css/search-detail.css" rel="stylesheet">