<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{book.title}}">
  <ion-content>
    <div ng-if='book!=""'>
        <img ng-src="{{book.img}}" style="width: 150px; height: 200px">
        <ion-list>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.place!="No Data"'>
            <h2>請求記号 : {{book.place}}</h2>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.place!="No Data"'>
            <h2>配架場所</h2>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-if='book.place=="No Data"'>
            <a href="#/tab/request/{{isbn}}"><h2>大学へリクエストする</h2></a>
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap" ng-repeat="library in book.libraries">
            {{library}}
          </ion-item>
          <ion-item class="item-remove-animate" type="item-text-wrap">
            <h2>詳細</h2>
          </ion-item>
        </ion-list>
        <p>{{book.detail}}</p>
    </div>
    <div ng-if='book==""'>
    aa
    </div>
  </ion-content>
</ion-view>
