<ion-view view-title="検索結果">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" onClick ="scanBarcode()">
        <h2>QR-コード検索</h2>
        <p>バーコードからの検索</p>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click ="link_to_library()">
        <h2>学内検索</h2>
        <p>検索ワードからの検索</p>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click ="link_to_all()">
        <h2>学外検索</h2>
        <p>検索ワードからの検索</p>
      </ion-item>
      
      <ion-item class="item-avatar" ng-repeat="book in books" type="item-text-wrap" ng-click="link_to_detail(book.isbn)">
        <img ng-src="{{book.img}}"> 
        <h2>{{book.title}}</h2>
        <p>{{book.detail}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<link href="css/search-detail.css" rel="stylesheet">