<ion-view view-title="トップページ">
  <ion-content class="padding">
    <div id="month"><h2>{{month}}</h2></div>
    <div id="day">{{day}}</div>
    <div id="weekday"><h2>{{weekday}}</h2></div>
    
    <ion-slide-box on-slide-changed="slideHasChanged($index)" id="boxes">
      <ion-slide options="options" ng-repeat="library in info['open']">
        <div class="box"><h3>{{library[0]}}</h3><h2>{{library[day]}}</h2></div>
      </ion-slide>
    </ion-slide-box>
    <div class="scrollbox">
      <div ng-repeat="news in info['news']" class="NewxBox" ng-if="judge(news[0])">
        <div ng-click='link_news("{{news[2]}}")'>
          {{news[0]}} -
          {{news[1]}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<link href="css/tab-top.css" rel="stylesheet">