<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="トップページ" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/top">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="検索" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/searchs">
    <ion-nav-view name="tab-searchs"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="オプション" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/option">
    <ion-nav-view name="tab-option"></ion-nav-view>  
  </ion-tab>
</ion-tabs>

