<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="term">

  <ion-content class="padding">
  hello
  </ion-content>
</ion-view>
<ion-view>
  <ion-nav-title>
    <h2>RIL規約</h2>
  </ion-nav-title>
  <ion-content>
    <div id="terms">
    <h3>利用規約</h3>
    　この規約は、watnow（以下「当団体」といいます。）が提供するアプリ「RIL」（以下「本
    アプリ」といいます。）の利用に関する条件<br><br>

    <h3>免責事項</h3>
    　本アプリをインストールしたことにより端末に不具合が発生したとしても、当団体は、いか
    なる責任を負いません。<br>
    　当団体は、予告なしに本アプリの運営を停止または中止する場合があります。<br>
    ユーザーが本アプリを利用したこと、または何らかの原因により利用出来なかったことによ
    って生じる一切の損害について、当団体は、何ら責任を負うものではありません。<br><br>

    <h3>利用規約の変更と通知</h3>
    　当団体は本規約の内容をユーザーの承諾を得る事なく変更することがありますので、あらか
    じめご了承ください。<br>

    <h3>サービスの内容と推奨環境</h3>
    　本アプリは大学生活における情報を提供します。ユーザーが利用しているOS、端末の環境に
    よって正常に動作をおこなわない場合があります。<br>
    　本アプリは本のISBNコード（国際標準図書番号）を活用しています。検索結果として図書館
    に蔵書されていても、表示されない場合がありますので、あらかじめご了承ください。<br><br>

    <h3>禁止事項</h3>
    　本アプリに掲載されている内容を当団体に無断で転載、複製、修正、蓄積、又は転送するこ
    とを禁じます。<br>
    当団体または第三者に損害を与える恐れのある行為を禁じます。<br>
    当団体または第三者のプライバシー等を侵害する行為、または侵害する恐れのある行為を禁
    じます。<br>
    その他、法令に違反する行為、またはその恐れがある行為を禁じます。<br>
    その他、当団体が不適切と判断する行為を禁じます。<br><br>
    </div>
  </ion-content>
</ion-view>

<link href="css/terms.css" rel="stylesheet">

    Contact GitHub API Training Shop Blog About 

