/* Empty. Add your own CSS if you like */
ion-item, ion-content, div .tab-nav, ion-nav-bar .bar{
  background: #DD5A59 !important/*linear-gradient(-90deg,#38A4D0, #6CC3B4) !important;*/
}


h2,h3, div{
  color: white;
}

a, div.tabs {
  background: #DD5A59 !important;/*linear-gradient(to bottom,#38A4D0, #6CC3B4) !important;*/
  border-style: none !important;
}

.tab-nav, ion-nav-bar .bar{
  border-style: none !important;
}