/* This is a CSS file */

#month {
  margin: 5% auto 5% 20%;
  text-align: left;
  font-size: 200%;
}

#day {
  margin: auto auto;
  text-align: center;
  font-size: 400%;
}

#weekday {
  margin: 5% 20% 5% auto;
  text-align: right;
  font-size: 200%;
}

#boxes {
  height: 120px;
  padding: auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.box{
  text-align: center;
  width 220px;
}

h2 .ng-binding{
  background-color: #000000 !important;
}

div #news-title{
  text-align: center;
  width: 310px;
  margin: auto;
  border-bottom: 1px solid #ccc;
  border-left: 10px solid white;
  border-right: 10px solid white;
  font-size: 20px
}
#scrollbox{
  margin: auto;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

div#scrollbox::-webkit-scrollbar {
  display: none;
}
